body {
  background-color: #1a1d2b;
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.home-container {

  gap: 40px;
  align-items: center;
  color: #ffffff;
  padding: 20px;
  font-family: Arial, sans-serif;
  min-height: 90vh;
}

.card {
  background-color: #252a3f;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  border: 1px solid #333;
  margin: 20px auto;
  width: 80%;
}


.card:nth-child(1) {
  border-color: #f79533;
  box-shadow: 0 4px 12px rgba(247, 149, 51, 0.4);
}

.card:nth-child(2) {
  border-color: #ef4e7b;
  box-shadow: 0 4px 12px rgba(239, 78, 123, 0.4);
}

.card:nth-child(3) {
  border-color: #5073b8;
  box-shadow: 0 4px 12px rgba(80, 115, 184, 0.4);
}

.card:nth-child(4) {
  border-color: #1098ad;
  box-shadow: 0 4px 12px rgba(16, 152, 173, 0.4);
}

.card:nth-child(5) {
  border-color: #6fba82;
  box-shadow: 0 4px 12px rgba(111, 186, 130, 0.4);
}

.card:nth-child(6) {
  border-color: #ffcc00;
  box-shadow: 0 4px 12px rgba(255, 204, 0, 0.4);
}

.card:nth-child(7) {
  border-color: #d66efd;
  box-shadow: 0 4px 12px rgba(214, 110, 253, 0.4);
}

.card:nth-child(8) {
  border-color: #ff5733;
  box-shadow: 0 4px 12px rgba(255, 87, 51, 0.4);
}

.card:nth-child(9) {
  border-color: #34eb6b;
  box-shadow: 0 4px 12px rgba(52, 235, 107, 0.4);
}