<!-- כפתור הוספת מוצר בראש הדף -->
<button class="add-product-button" (click)="toggleAddProductModal()">➕ הוסף מוצר</button>
<h2>📦 מוצרים ב-{{ location === 'Fridge' ? 'מקרר' : 'מקפיא' }}</h2>

<!-- קונטיינר של המקרר -->
<div class="fridge-container">
  <div class="fridge-light"></div> <!-- נורה למעלה -->
  
  <div class="fridge-content">
    
    <!-- מדפים של המקרר -->
    <div class="shelf" *ngFor="let shelf of shelves">
      
      <!-- כל מוצר על המדף -->
      <div class="pro-item" *ngFor="let pro of shelf"
           [ngStyle]="{'background-image': getCategoryBackground(pro.categoryID), 
                       'background-size': 'contain', 
                       'background-position': 'bottom center',
                       'background-repeat': 'no-repeat'}">
        
        <!-- שם המוצר -->
        <div class="product-title">
          <h3>{{ pro.name }}</h3>
        </div>

        <!-- כפתור פרטים -->
        <button class="details-button" (click)="showDetails(pro)">פרטים</button>

      </div>

    </div>
  </div>
</div>

<!-- מודל הוספת מוצר -->
<div class="modal" *ngIf="isAddProductModalOpen">
  <div class="modal-content">
    <span class="close-button" (click)="toggleAddProductModal()">&times;</span>
    <app-add-product (productAdded)="toggleAddProductModal()"></app-add-product>
  </div>
</div>

<!-- מודל פרטי מוצר -->
<app-product-details 
  [product]="selectedProduct" 
  [isOpen]="isModalOpen" 
  (close)="closeModal()"
  (delete)="deleteProduct($event)">
</app-product-details>
