

<form [formGroup]="addProductForm" class="modal-form">
  <h2 class="text">🛒 הוסף מוצר</h2>

  <div class="form-group">
    <label>קטגוריה</label>
    <select formControlName="categoryID" (change)="onCategoryChange($event)">
      @for (category of categories; track category.id) {
        <option [value]="category.id">
          {{ category.name }}
        </option>
      }
    </select>
  </div>

  <div class="form-group">
    <label>שם מוצר</label>
    <input type="text" formControlName="name" required placeholder="לדוגמה: חלב"> 
  </div>

  <div class="form-group">
    <label>תאריך תפוגה</label>
    <input type="date" formControlName="expiryDate" required>
  </div>

  <div class="form-group">
    <label>מיקום במקרר</label>
    <select formControlName="location">
      <option value="Fridge">מקרר</option>
      <option value="Freezer">מקפיא</option>
    </select>
  </div>
</form>

  <div class="buttons-container">
    <button class="testbutton" (click)="addProduct()"  [disabled]="!addProductForm.valid">הוסף מוצר</button>
  </div>
