

<form [formGroup]="addNoteForm" class="product-form">
  <!-- <div>
    <label>frigeId</label>
    <input type="number" formControlName="fridgeId" required>
  </div> -->

  <div class="form-group">
    <label>text</label>
    <input type="text" formControlName="text" required>
  </div>

  <div class="form-group">
    <label>createdDate</label>
    <input type="date" formControlName="createdDate" required>
  </div>

  <div class="form-group">
    <label>isResolved</label>
    <input type="checkbox" formControlName="isResolved" required>
  </div>
  <button  (click)="addNote()" class="add-button">add note</button>

