<div class="modal-overlay">
  <div class="modal-container">
    <h2 class="text">🔑 התחברות</h2>

    <form [formGroup]="loginForm" class="modal-form">
      <div class="form-group">
        <label for="name">שם משתמש</label>
        <input id="name" type="text" formControlName="name" required>
      </div>

      <div class="form-group">
        <label for="password">סיסמה</label>
        <input id="password" type="password" formControlName="password" required>
      </div>
    </form>

    <div class="buttons-container">
      <button class="testbutton" (click)="login()">🔓 התחבר</button>
      <button class="testbutton" (click)="signup()">📝 אין לך חשבון?</button>
    </div>
  </div>
</div>
