<div class="recipe-buttons-container">
  <button class="bcolor" (click)="fetchRecipesApiByProducts(productString)"> חיפוש מתכונים GOOGLE</button>
  @if(isAdmin){
  <button class="bcolor" (click)="openRecipeModal()">הוסף מתכון</button>
  }

</div>


<div class="modal-overlay" *ngIf="isRecipeModalOpen">
  <div class="modal-content">
    <span class="close-button" (click)="closeRecipeModal()">&times;</span>

    <app-add-recipe></app-add-recipe>
  </div>
</div>

<div class="title_container">
  <h2 class="title_page">מתכונים</h2>
</div>

@if (isLoading) {
<div>
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
} @else {

<div *ngIf="!isLoading">
  <div class="recipe-container">
    <div *ngFor="let recipe of recipes2; let i = index" class="recipe-card">
      <h3>GOOGEL</h3>

      <h2 class="recipe-title">{{ recipe.title }}</h2>
      <p class="info"><strong>מוצרים משומשים:</strong> {{ recipe.usedIngredientCount }}</p>
      <p class="info"><strong>מוצרים חסרים:</strong> {{ recipe.missedIngredientCount }}</p>

      <img [src]="recipe.image" alt="recipe image">

      <div class="ingredient-section">
        <h3>מוצרים משומשים:</h3>
        @if (recipe.usedIngredients.length > 0) {
        @for (item of recipe.usedIngredients; track $index) {
        <div>{{ item.name }}</div>
        }
        } @else {
        <p> אין מוצרים משומשים</p>
        }
      </div>
      @if (recipe.missedIngredients.length > 0) {

      <div class="ingredient-section">
        <h3>מוצרים חסרים:</h3>
        @for (item of recipe.missedIngredients; track $index) {
        <div>{{ item.name }}</div>
        }
      </div>

      }

      <div class="instructions">
        <h3>הוראות הכנה:</h3>
        {{ recipe.instructions }}
      </div>

    </div>
  </div>
</div>










<div class="recipe-container">
  <div *ngFor="let recipe of recipes1" class="recipe-card">

    <h2 class="recipe-title">{{ recipe.title }}</h2>

    <p class="info"><strong>מוצרים משומשים:</strong> {{ recipe.usedIngredientCount }}</p>
    <p class="info"><strong>מוצרים חסרים:</strong> {{ recipe.missedIngredientCount }}</p>

    <div class="ingredient-section">
      <h3>מוצרים משומשים:</h3>
      <div *ngFor="let used of recipe.usedPro.split(',')">
        {{ used.trim() }}
      </div>
    </div>

    @if(recipe.missedIngredientCount > 0){
    <div class="ingredient-section missing">
      <h3>מוצרים חסרים:</h3>
      <div *ngFor="let missed of recipe.missedPro.split(',')">
        {{ missed.trim() }}
      </div>
    </div>
    }

    <div class="instructions">
      <h3>הוראות הכנה:</h3>
      {{ recipe.instructions }}
    </div>

  </div>
</div>


}




<button class="chat-button" (click)="chat.toggleChat()">
  <span class="material-icons">calculate</span>
</button>

<app-chat #chat></app-chat>