<p>📜 רשימת מתכונים</p>
@if (isLoading) {
  <p>⏳ מחשב בשבילך את המתכונים...</p>
} @else {
<div class="recipe-container">
    @for (recipe of recipes; track $index) {
    <div class="recipe-card">
        <p>🍜{{recipe.title}}</p>
        <img [src]="recipe.imageUrl" alt="recipe image">
        <p><strong>📖 הוראות הכנה:</strong> {{recipe.instructions}}</p>
        <p><strong>🛒 מוצרים חסרים:</strong> {{recipe.missedIngredientCount}}</p>
        <p><strong>✅ מוצרים משומשים:</strong> {{recipe.usedIngredientCount}}</p>
        <!-- <button (click)="showRecipeDetails(recipe)">📋 פרטים נוספים</button> -->
    </div>
    }
</div>}