.note-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  }
  .note-item {
    background-color: #1B2036 ; /* צבע אפור בהיר יותר לפסקאות */
    border: 0.01px solid #8a2be2; /* מסגרת סגולה עדינה */
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    width: 30%;
    /* box-shadow: 0 0.1px 0.2px rgba(0, 0, 0, 0.2); צל קליל */
  }

  
  
  .note-item p {
    margin: 5px 0;
  }
  