
 <div class="notes-page">
  <button class="add-note-button" (click)="toggleAddNote()">➕ הוסף פתק חדש</button>
  
  <h1 class="bigT">תזכורות ופתקים</h1>
  
  <div class="note-list" dir="rtl">
    @for (note of notes.reverse(); track $index) {
      <div class="note">
        <h2>{{ note.type }}</h2>
        <p>{{ note.text }}</p>
        <p>בוצע: {{ note.isResolved }}</p>
        <a href="#" (click)="markAsDone(note)">סמן כבוצע</a>
      </div>
    }
  </div>
  
  @if(showAddNote) {
    <app-add-note></app-add-note>
  }
</div>
