.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

.modal-container {
  background: rgba(30, 30, 30, 0.95);
  padding: 40px;
  border-radius: 6px;
  width: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.text {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  background: linear-gradient(to right, #56d8e4, #9f01ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}

/* טופס */
.modal-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

/* קבוצת שדה בטופס */
.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-group label {
  color: #fff;
  font-size: 14px;
  margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #777;
  font-size: 16px;
  background: transparent;
  color: white;
  outline: none;
  transition: border-color 0.3s;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  border-bottom: 2px solid #56d8e4;
}

/* כפתורים */
.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  width: 100%;
}

.testbutton {
  border: 2px solid transparent;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
  background: black;
  color: white;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.testbutton::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  border-radius: 4px;
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  transition: opacity 0.3s ease-in-out;
}

.testbutton:hover::before {
  opacity: 0.8;
}

.testbutton:hover {
  transform: translateY(-2px);
  color: #f1f1f1;
}


.form-group select {
  background: #222; 
  color: rgb(255, 255, 255); 
  border: 2px solid #222;
  border-radius: 5px;
  font-size: 16px;
  padding: 8px;
  transition: border-color 0.3s, background 0.3s;
}

.form-group select option {
  background: #222;
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.form-group select:focus {
  border-color: #56d8e4;
  background: #222;
}
