<p>home-page works!</p>
<html lang="en">

<body>
    <div>
        <p>ברוכים הבאים למקרר החכם שלנו כאן תוכלו לראות את המוצרים להכין מתכונים ולכתוב תזכורות</p>
    </div>
    <div class="fridge-container">
        <div class="fridge">
            <div class="fridge-section refrigerator">
                <div class="handle"></div>
            </div>
            <div class="fridge-section freezer">
                <div class="handle"></div>
            </div>
        </div>
    </div>
</body>
</html>