<html lang="en">

<div dir="rtl" style="text-align: center;">
    
    <h1>ברוכים הבאים למקרר: {{ currentFridge.fridgeName }}</h1>
    <p>
      ברוכים הבאים למקרר החכם שלנו<br>
      כאן תוכלו לראות את המוצרים<br>
      להכין מתכונים<br>
      ולכתוב תזכורות
</p>
  </div>
  
    <div class="fridge-container">
        <div class="fridge">
            <div class="fridge-section refrigerator">
                <div class="handle"></div>
            </div>
            <div class="fridge-section freezer">
                <div class="handle"></div>
            </div>
        </div>
    </div>
</html>