
 <div class="notes-page">
  <button class="add-note-button" (click)="toggleAddNote()">➕ הוסף פתק חדש</button>
  @if(showAddNote) {

<div class="modal-overlay" >
  <div class="modal-container">
    <span class="close-button" (click)="toggleAddNote()">&times;</span>
    <app-add-note (noteAdded)="toggleAddNote(); getNotessByFridgeId(currentFridge.id)"></app-add-note>
  </div>
</div>

  }
  <div class="title_container">
    <h2 class="title_page">תזכורות ופתקים</h2>
  </div>
  <div class="note-list" dir="rtl">
    @for (note of notes; track $index) {
      <div class="note" [appBackgroundByType]="note.type">
        <h2>{{ note.type }}</h2>
        @if(note.type == '⚠️התראת מקרר') {

        <p>{{note.tit}}</p>
      }
        <p>{{ note.text }}</p>
        
        @if(note.type != '⚠️התראת מקרר') {
          <p>תאריך לביצוע:</p>
          <p> {{ formattedDate(note) }}</p>
          <button (click)="deleteNote(note.id)">✔ ביצעתי את המשימה</button>
        }
      </div>}
      
  

</div>
